@font-face {
  font-family: "Star Outline";
  src: url("./assets/fonts/StarJediOutline-y0xm.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* test */
  background-color: #101b24;
}

/* test anfang ----- */
.galaxy-animation{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -24vw -44vh 2px 2px #fff, 38vw -4vh 0px 0px #fff, -20vw -48vh 1px 2px #fff, -39vw 38vh 3px 1px #fff, -42vw -11vh 0px 3px #fff, 12vw 15vh 3px 3px #fff, 42vw 6vh 3px 2px #fff, -8vw 9vh 0px 2px #fff, 34vw -38vh 1px 0px #fff, -17vw 45vh 3px 1px #fff, 22vw -36vh 3px 2px #fff, -42vw 1vh 1px 0px #fff, 24vw -44vh 2px 2px #fff, -38vw -4vh 0px 0px #fff, 20vw -48vh 1px 2px #fff, 39vw 38vh 3px 1px #fff, 42vw -11vh 0px 3px #fff, -12vw 15vh 3px 3px #fff, -42vw 6vh 3px 2px #fff, 8vw 9vh 0px 2px #fff, -34vw -38vh 1px 0px #fff, 17vw 45vh 3px 1px #fff, -22vw -36vh 3px 2px #fff, 42vw 1vh 1px 0px #fff;
  animation: fly 10s alternate infinite;
}

@keyframes fly {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.5);
  }
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #888;
  /* font-family: "Star Outline"; */
}
h1 img{
  width: 80%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: darkred;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* navbar styling */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 2rem 10rem;
  border: 3px solid teal;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #444;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 6px 6px 10px rgba(0, 128, 128, 1.2);
}

header nav ul li a:hover {
  background-color: #555;
  box-shadow: 6px 6px 10px darkred;
}

header nav div {
  display: flex;
  align-items: center;
}

header nav div input {
  padding: 0.5rem;
  /* border: 1px solid #ccc; */
  border: 2px solid teal;
  border-radius: 4px;
  color: teal;
  font-weight: 600;
  font-size: 0.9rem;
}

/* movie list styling */

.movie-list-style, .character-list-style,.planet-list-style{
  background-color: #333333;
  border: 2px solid teal;
  border-radius: 4px;
  width: 60%;
  margin: 2% auto;
  list-style: none;
  padding: 6px;
  box-shadow: 
  6px 6px 10px rgba(139, 0, 0, 0.8),
  8px 8px 15px rgba(139, 0, 0, 0.6),
  10px 10px 20px rgba(139, 0, 0, 0.4),
  12px 12px 25px rgba(139, 0, 0, 0.2);


  color: teal;
  font-weight: 500;
  
}
span{
  font-weight: 600;
  color: orange;
}